#list-source-link{
  list-style-type: none;
}
#list-source-link li{
  border: 1px #cccccc solid;
  padding:15px 5px;
  margin:10px 0;
  background-color: #eeeeee;
}
#list-source-link li input{
  margin:0px 5px;
}
#list-source-link .btn-remove-source-link{
  margin-left: 10px;
}
#list-source-link .btn-move-source-link{
  margin: 0px 10px;
}
#list-source-link .btn-remove-source-link i,
#list-source-link .btn-move-source-link i{
  border:1px #cccccc solid;
  background-color: #dddddd;
  padding: 1px;
}

